@import 'tokens';

switch-component {
  display: inline-block;

  padding-top: $tiny-input-top-padding;
  padding-right: $tiny-lateral-content-margin;
  padding-bottom: $tiny-input-bottom-padding;
  padding-left: $tiny-lateral-content-margin;

  border-color: $blue-30;
  border-radius: $border-radius-small;
  border-style: solid;
  border-width: $outline-standard;

  switch-option {
    display: inline-block;

    padding-top: $small-input-top-padding;
    padding-right: $input-horizontal-padding;
    padding-bottom: $small-input-bottom-padding;
    padding-left: $input-horizontal-padding;

    color: $blue-40;
    @include text-cta-secondary;

    cursor: pointer;

    &:hover,
    &.switch-option-selected {
      background: $blue-10;

      border-radius: $border-radius-small;

      color: $blue-100;
    }
  }
}
